<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>h:selectOneMenu Example</title>
    </h:head>
    <h:body>
        <h:form>
            <h:selectOneMenu value="#{indexBean.selected}" >
                <f:selectItems value="#{indexBean.items}"/>
                <f:ajax event="change" render="@form"/>
            </h:selectOneMenu>
            <br/><br/>
            <h:outputText value="#{indexBean.selected ne null ? indexBean.selected : 'None'}"/>
        </h:form>
    </h:body>
</html>